In [1]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import os

# Folder containing your CSV files
folder_path = "C:/Users/meets/nse-benny/eod2/src/eod2_data/daily"  # <-- Change this to your actual folder path

# Target dates to look for
target_dates = pd.to_datetime([
    '2009-04-01', '2012-04-02', '2015-04-01',
    '2018-04-02', '2021-04-01', '2024-04-01'
])

# Initialize list to store results
summary_data = []

# Loop through all CSV files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        try:
            df = pd.read_csv(file_path)
            df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
            df = df[df['Date'].isin(target_dates)]
            for date in target_dates:
                row = df[df['Date'] == date]
                close_price = row['Close'].values[0] if not row.empty else None
                summary_data.append({
                    'Stock': filename,
                    'Date': date.strftime('%Y-%m-%d'),
                    'Close': close_price
                })
        except Exception as e:
            print(f"Error processing {filename}: {e}")

summary_df = pd.DataFrame(summary_data)

pivot_df = summary_df.pivot(index='Stock', columns='Date', values='Close')

print(pivot_df)

# pivot_df.to_csv("close_prices_summary.csv")  # Uncomment to save to CSV

Date            2009-04-01  2012-04-02  2015-04-01  2018-04-02  2021-04-01  \
Stock
20microns.csv         7.60       41.90       37.35       49.75       35.40
21stcenmgm.csv         NaN         NaN         NaN       35.40       13.70
360one.csv             NaN         NaN         NaN         NaN      327.25
3iinfoltd.csv          NaN         NaN         NaN         NaN         NaN
3mindia.csv         870.45     3761.25     7879.60    19973.90    29602.95
...                    ...         ...         ...         ...         ...
ztech_sme.csv          NaN         NaN         NaN         NaN         NaN
zuari.csv              NaN         NaN      252.10      495.60       91.30
zuariind.csv        143.50      498.30      100.65      176.70       83.60
zyduslife.csv        36.55      150.05      358.05      385.05      441.80
zyduswell.csv          NaN      399.80     1021.10     1215.45     1985.00

Date            2024-04-01
Stock
20microns.csv        144.4
21stcenmgm.csv        42.4
360one.csv           696.8
3iinfoltd.csv         42.9
3mindia.csv        30533.2
...                    ...
ztech_sme.csv          NaN
zuari.csv            184.3
zuariind.csv         336.5
zyduslife.csv        999.8
zyduswell.csv       1506.8

[2963 rows x 6 columns]

In [ ]:
df=pd.read_csv("close_prices_summary.csv")
df['Stock'] = df['Stock'].str.replace('.csv', '', case=False).str.upper()
# df.to_csv("FY3-CLOSE.csv",index=False)

In [30]:
df1 = pd.read_excel("Capital Not Deployed L3.xlsx")
df1.head()

,Sr.No.,Accord Code,Company Name,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,Gross_Plus_CWIP,long term borrowing,Gross_Plus_CWIP1,long term borrowing1,CAPEX Growth,Debt Growth
0,1,221033,Aster DM Healthcare Ltd.,497.04,496.8000,6824.35920,1458.87,115.08,1382.7600,42.7100,5.504209,169.445095
1,2,100093,CG Power and Industrial Solutions Ltd.,267.60,125.3500,8944.53000,1446.23,812.99,1473.2300,292.8900,-1.832708,177.575199
2,3,217842,Godrej Agrovet Ltd.,192.07,192.0400,10073.11115,1393.49,74.72,1305.0100,1.5500,6.780025,4720.645161
3,4,100164,Godrej Industries Ltd.,33.66,33.6500,18260.55000,1740.03,1955.58,1642.7100,562.5000,5.924357,247.658667
4,5,215690,Gravita India Ltd.,13.81,13.8076,624.90250,148.98,43.48,142.9091,30.0002,4.248085,44.932367

In [31]:
df2 =pd.read_excel("C:/Users/meets/AVENTUS_FACTOR-MODEL/TRENDLYNE_230425.xlsx")
df2.head()

,Stock Name,NSE Code,BSE Code,Stock Code,ISIN,Industry Name,Current Price,Current Price.1,Market Capitalization,PE TTM Price to Earnings,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,20 Microns Ltd.,20MICRONS,533022.0,20MICRONS,INE144J01027,Coal & Mining,227.25,227.25,801.89,13.19,...,23.96,38.63,9.50,10.88,17.60,7.0,Metals & Mining,Coal & Mining,2024-12-31,2025-01-22
1,360 ONE Gold ETF,GOLD360,544375.0,GOLD360,INF579M01BB5,Others,95.45,95.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
2,360 ONE Silver ETF,SILVER360,544389.0,SILVER360,INF579M01BC3,Others,99.20,99.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
3,360 One Wam Ltd.,360ONE,542772.0,360ONE,INE466L01038,Capital Markets,1057.00,1057.00,41613.87,41.27,...,17.25,23.88,5.31,2.86,8.70,3.0,Banking and Finance,Capital Markets,2024-12-31,2025-04-23
4,3B BlackBio Dx Ltd.,NaN,532067.0,3BBLACKBIO,INE994E01018,Agrochemicals,1784.05,1784.05,1531.20,31.87,...,14.53,17.06,12.93,9.90,12.59,7.0,Chemicals & Petrochemicals,Agrochemicals,2024-12-31,2025-02-13

In [32]:
merged_df = pd.merge(df1, df2, how='inner', left_on='Company Name', right_on='Stock Name')
merged_df.head()

,Sr.No.,Accord Code,Company Name,BS_Share Capital,BS_Share Capital1,FH_Market Capitalization,Gross_Plus_CWIP,long term borrowing,Gross_Plus_CWIP1,long term borrowing1,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,1,221033,Aster DM Healthcare Ltd.,497.04,496.8000,6824.35920,1458.87,115.08,1382.7600,42.7100,...,17.25,13.50,0.71,9.68,7.60,8.0,Diversified Consumer Services,Healthcare Facilities,2024-12-31,2025-01-31
1,2,100093,CG Power and Industrial Solutions Ltd.,267.60,125.3500,8944.53000,1446.23,812.99,1473.2300,292.8900,...,21.36,22.24,25.36,11.85,14.76,6.0,General Industrials,Heavy Electrical Equipment,2024-12-31,2025-01-28
2,3,217842,Godrej Agrovet Ltd.,192.07,192.0400,10073.11115,1393.49,74.72,1305.0100,1.5500,...,19.70,15.68,6.30,14.51,8.43,7.0,Food Beverages & Tobacco,Other Agricultural Products,2024-12-31,2025-01-31
3,4,100164,Godrej Industries Ltd.,33.66,33.6500,18260.55000,1740.03,1955.58,1642.7100,562.5000,...,11.36,3.41,0.09,3.35,1.76,3.0,Diversified,Diversified,2024-12-31,2025-02-12
4,5,215690,Gravita India Ltd.,13.81,13.8076,624.90250,148.98,43.48,142.9091,30.0002,...,23.96,48.79,14.92,10.88,22.07,3.0,Metals & Mining,Other Non-Ferrous Metals,2024-12-31,2025-01-22

In [33]:
df = pd.read_csv("FY3-CLOSE.csv")
final_merged = pd.merge(df, merged_df, how='inner', left_on='Stock', right_on='Stock Code')
# final_merged.to_csv("gptdemo.csv")
final_merged.head()

,Stock,2009-04-01,2012-04-02,2015-04-01,2018-04-02,2021-04-01,2024-04-01,Sr.No.,Accord Code,Company Name,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,ASTERDM,NaN,NaN,NaN,167.15,138.55,408.05,1,221033,Aster DM Healthcare Ltd.,...,17.25,13.50,0.71,9.68,7.60,8.0,Diversified Consumer Services,Healthcare Facilities,2024-12-31,2025-01-31
1,CGPOWER,74.2,144.80,166.1,79.00,68.75,514.25,2,100093,CG Power and Industrial Solutions Ltd.,...,21.36,22.24,25.36,11.85,14.76,6.0,General Industrials,Heavy Electrical Equipment,2024-12-31,2025-01-28
2,GODREJAGRO,NaN,NaN,NaN,639.35,518.00,501.90,3,217842,Godrej Agrovet Ltd.,...,19.70,15.68,6.30,14.51,8.43,7.0,Food Beverages & Tobacco,Other Agricultural Products,2024-12-31,2025-01-31
3,GODREJIND,59.4,273.75,359.2,549.80,539.50,790.35,4,100164,Godrej Industries Ltd.,...,11.36,3.41,0.09,3.35,1.76,3.0,Diversified,Diversified,2024-12-31,2025-02-12
4,GRAVITA,NaN,137.20,37.5,159.15,96.15,1000.95,5,215690,Gravita India Ltd.,...,23.96,48.79,14.92,10.88,22.07,3.0,Metals & Mining,Other Non-Ferrous Metals,2024-12-31,2025-01-22

In [34]:
final_merged["Percent_Change_(MD4)"] = ((final_merged["2024-04-01"] - final_merged["2021-04-01"]) / final_merged["2021-04-01"]) * 100
final_merged = final_merged.dropna(subset=["Percent_Change_(MD4)"])

import numpy as np

# Define a function to calculate CAGR
def calculate_cagr(start_value, end_value, periods):
    return ((end_value / start_value) ** (1 / periods) - 1) * 100

# Number of years between 2009-04-01 and 2012-04-02
years = 3

# Calculate CAGR and add to dataframe
final_merged["CAGR (MD4)"] = calculate_cagr(final_merged["2021-04-01"], final_merged["2024-04-01"], years)



final_merged[["Stock",  "2009-04-01","2012-04-02", "Percent_Change_(MD4)", "CAGR (MD4)"]].head(56)
# final_merged.head()

         Stock  2009-04-01  2012-04-02  Percent_Change_(MD4)  CAGR (MD4)
0      ASTERDM         NaN         NaN            194.514616   43.340512
1      CGPOWER       74.20      144.80            648.000000   95.569233
2   GODREJAGRO         NaN         NaN             -3.108108   -1.046959
3    GODREJIND       59.40      273.75             46.496756   13.573237
4      GRAVITA         NaN      137.20            941.029641  118.350588
5         HSCL        9.15       38.45            617.500000   92.874125
6          ITI       16.70       24.45            130.985915   32.188954
7   KESORAMIND      138.95      116.85            126.553303   31.337920
8      NACLIND         NaN         NaN             54.580153   15.624866
9   NATHBIOGEN         NaN         NaN            -43.236074  -17.201181
10      RENUKA       47.70       31.80            336.597938   63.440830
11      SAFARI         NaN         NaN            496.963300   81.404982
12    SHANKARA         NaN         NaN             54.605341   15.631146
13   STEELXIND         NaN         NaN            116.541353   29.373983

In [35]:
final_merged["Percent_Change_(MD4)"].mean()

265.57315239647227

In [36]:
final_merged["CAGR (MD4)"].mean()

43.8901596959549