In [40]:
import pandas as pd

In [ ]:
df1 = pd.read_excel("CAPEX L15.xlsx")
df1.head()

,Sr.No.,Accord Code,Company Name,GB+CWIP_1Y_CAGR,GB+CWIP_2Y_CAGR,GB+CWIP_3y_CAGR,FH_Market Capitalization,CONS_FH_1
0,1,126881,63 Moons Technologies Ltd.,52.210034,31.068962,93.732119,2844.326658,C
1,2,123204,Aban Offshore Ltd.,41.497722,35.927716,112.964282,1510.238584,C
2,3,112599,Adani Enterprises Ltd.,132.359528,158.570490,254.498022,6585.453000,C
3,4,132749,Allcargo Logistics Ltd.,30.734445,44.501510,133.037154,1429.257676,C
4,5,121070,Alok Industries Ltd.,57.083325,49.244817,65.329391,1065.933150,C

In [42]:
df1["GB+CWIP_CAPEX_SUM"] = df1["GB+CWIP_1Y_CAGR"] + df1["GB+CWIP_2Y_CAGR"] + df1["GB+CWIP_3y_CAGR"]

print("mean std for cagr")
mean_value = df1['GB+CWIP_CAPEX_SUM'].mean()
print(mean_value)
std_dev = df1['GB+CWIP_CAPEX_SUM'].std()
print(std_dev)

df1['ZSCORE_CAPEX'] = (df1['GB+CWIP_CAPEX_SUM']-mean_value) / std_dev

print("mean std for mcap")
mean_value = df1['FH_Market Capitalization'].mean()
print(mean_value)
std_dev = df1['FH_Market Capitalization'].std()
print(std_dev)

df1['ZSCORE_MCAP'] = (df1['FH_Market Capitalization']-mean_value) / std_dev

df1.tail()

mean std for cagr
268.16464352785994
441.3523113788753
mean std for mcap
3242.779098400855
3943.601019296059

,Sr.No.,Accord Code,Company Name,GB+CWIP_1Y_CAGR,GB+CWIP_2Y_CAGR,GB+CWIP_3y_CAGR,FH_Market Capitalization,CONS_FH_1,GB+CWIP_CAPEX_SUM,ZSCORE_CAPEX,ZSCORE_MCAP
71,72,132432,United Spirits Ltd.,-4.002944,92.799214,58.954604,6508.090925,C,147.750875,-0.272829,0.828003
72,73,132822,Vodafone Idea Ltd.,66.685936,60.034655,46.118020,15546.976425,C,172.838610,-0.215986,3.120041
73,74,132144,Welspun Corp Ltd.,40.477732,49.838897,52.490751,1388.432940,C,142.807381,-0.284030,-0.470216
74,75,132300,Wockhardt Ltd.,19.949634,48.277644,67.226659,1184.644700,C,135.453936,-0.300691,-0.521892
75,76,132648,Yes Bank Ltd.,42.633219,48.751708,67.524051,1481.924711,S,158.908978,-0.247548,-0.446509

In [43]:
df2 = pd.read_excel("TRENDLYNE_230425.xlsx")
df2.head()

,Stock Name,NSE Code,BSE Code,Stock Code,ISIN,Industry Name,Current Price,Current Price.1,Market Capitalization,PE TTM Price to Earnings,...,Sector Return on Equity ROE,Industry Return on Equity ROE,RoA Annual %,Sector Return on Assets,Industry Return on Assets,Piotroski Score,sector_name,Industry Name.1,Latest financial result,Result Announced Date
0,20 Microns Ltd.,20MICRONS,533022.0,20MICRONS,INE144J01027,Coal & Mining,227.25,227.25,801.89,13.19,...,23.96,38.63,9.50,10.88,17.60,7.0,Metals & Mining,Coal & Mining,2024-12-31,2025-01-22
1,360 ONE Gold ETF,GOLD360,544375.0,GOLD360,INF579M01BB5,Others,95.45,95.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
2,360 ONE Silver ETF,SILVER360,544389.0,SILVER360,INF579M01BC3,Others,99.20,99.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Others,Others,NaT,NaT
3,360 One Wam Ltd.,360ONE,542772.0,360ONE,INE466L01038,Capital Markets,1057.00,1057.00,41613.87,41.27,...,17.25,23.88,5.31,2.86,8.70,3.0,Banking and Finance,Capital Markets,2024-12-31,2025-04-23
4,3B BlackBio Dx Ltd.,NaN,532067.0,3BBLACKBIO,INE994E01018,Agrochemicals,1784.05,1784.05,1531.20,31.87,...,14.53,17.06,12.93,9.90,12.59,7.0,Chemicals & Petrochemicals,Agrochemicals,2024-12-31,2025-02-13

In [47]:
unique_to_df1 = df1[~df1['Company Name'].isin(df2['Stock Name'])]
unique_to_df1.head(10)

,Sr.No.,Accord Code,Company Name,GB+CWIP_1Y_CAGR,GB+CWIP_2Y_CAGR,GB+CWIP_3y_CAGR,FH_Market Capitalization,CONS_FH_1,GB+CWIP_CAPEX_SUM,ZSCORE_CAPEX,ZSCORE_MCAP
10,11,132525,Bank Of Maharashtra,77.291740,43.960705,33.818063,893.329000,C,155.070507,-0.256245,-0.595763
11,12,109480,Berger Paints India Ltd.,93.089302,50.035547,36.475147,1109.676300,C,179.599996,-0.200667,-0.540902
25,26,200070,Gokul Refoils and Solvent Ltd.,59.945072,53.480846,56.927866,537.340230,C,170.353785,-0.221616,-0.686033
35,36,132907,IL&FS Engineering and Construction Company Ltd.,137.410914,209.319708,162.426797,4113.320750,C,509.157418,0.546033,0.220748
48,49,200044,Onmobile Global Ltd.,67.428274,138.599444,136.606346,1815.667035,C,342.634065,0.168730,-0.361880
75,76,132648,Yes Bank Ltd.,42.633219,48.751708,67.524051,1481.924711,S,158.908978,-0.247548,-0.446509

In [ ]:
merged_df = pd.merge(df1, df2, how='inner', left_on='Company Name', right_on='Stock Name')
merged_df.info()

TypeError: ufunc 'invert' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
# # Convert DATE column to datetime format
# vol_df = pd.read_csv("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/mega_datevol_final.csv")
# vol_df['DATE'] = pd.to_datetime(vol_df['DATE'])

# vol_df.head()

# # Define the list of stocks of interest
# column_list = ['ADANIENT', 'ARSHIYA', 'EDUCOMP', 'EMAMILTD', 'GVT&D', 'GMRAIRPORT', 'GTLINFRA',
#                'GVKPIL', 'HAVELLS', 'HCLTECH', 'HINDALCO', 'JMFINANCIL', 'RELINFRA', 'RELIGARE',
#                'MOTHERSON', 'SEPC', 'SUZLON', 'TATAMOTORS', 'TATAPOWER', 'TATASTEEL', 'UNITECH', 'IDEA']

# # Filter data for the 30 days leading up to and including 2009-04-01
# end_date = pd.Timestamp('2009-04-01')
# start_date = end_date - pd.Timedelta(days=29)
# rolling_window_df = vol_df[(vol_df['DATE'] >= start_date) & (vol_df['DATE'] <= end_date)]

# # Calculate 30-day rolling average for each stock
# rolling_avg = rolling_window_df[column_list].mean()

# # Store the result in a DataFrame
# result_df = pd.DataFrame({
#     'STOCK NAME': rolling_avg.index,
#     'MA': rolling_avg.values
# })

# result_df.info()

In [ ]:
# Set the DATE column as the index for rolling operation
column_list = merged_df['Stock Code'].tolist()

vol_df = pd.read_csv("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/mega_datevol_final.csv")
vol_df['DATE'] = pd.to_datetime(vol_df['DATE'])

vol_df.set_index('DATE', inplace=True)

# Filter column_list to only include columns present in vol_df
valid_columns = [col for col in column_list if col in vol_df.columns]

# Apply rolling mean with a window of 20 days and min_periods=1
rolling_means = vol_df[valid_columns].rolling(window=20, min_periods=1).mean()

# Extract the rolling average values as of 2009-04-01
rolling_avg_at_date = rolling_means.loc[pd.Timestamp('2009-04-01')]

# Store the result in a DataFrame
result_df_updated = pd.DataFrame({
    'STOCK NAME': rolling_avg_at_date.index,
    'MA': rolling_avg_at_date.values
})

# result_df_updated.info()

merged_df = pd.merge(merged_df, result_df_updated, how='inner', left_on='Stock Code', right_on='STOCK NAME')
# merged_df.head()
merged_df.info()

In [ ]:
df3 = pd.read_excel("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/L15 Valuation Data.xlsx")

final_merged_df = pd.merge(merged_df, df3, how='inner', left_on='Company Name', right_on='Company Name')
final_merged_df.head()

mean_value = final_merged_df['FR_Adjusted PE (x)'].mean()
std_dev = final_merged_df['FR_Adjusted PE (x)'].std()
final_merged_df['ZSCORE_PE'] = (final_merged_df['FR_Adjusted PE (x)']-mean_value) / std_dev

mean_value = final_merged_df['FR_EV/EBITDA(x)'].mean()
std_dev = final_merged_df['FR_EV/EBITDA(x)'].std()
final_merged_df['ZSCORE_EVEBITDA'] = (final_merged_df['FR_EV/EBITDA(x)']-mean_value) / std_dev

final_merged_df['ZSCORE_FINAL'] = (0.6 * final_merged_df['ZSCORE_CAPEX']) + (0.2 * final_merged_df['ZSCORE_MCAP']) + (0.10 * final_merged_df['ZSCORE_PE']) + (0.10 * final_merged_df['ZSCORE_EVEBITDA'])
# final_merged_df['ZSCORE_FINAL'] = (1 * final_merged_df['ZSCORE_CAPEX'])



final_merged_df = final_merged_df[final_merged_df["ZSCORE_FINAL"]>0]

# final_merged_df['PORTFOLIO_WEIGHTS'] = final_merged_df["ZSCORE_FINAL"]/final_merged_df["ZSCORE_FINAL"].sum()

column_list = final_merged_df['Stock Code'].tolist()
print(column_list)

final_merged_df.head(5)

# final_merged_df.to_csv("rahul_s1l15.csv")

In [ ]:
df = pd.read_csv("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/mega_dateclose_final.csv")
columns_to_keep = ['Date'] + [col for col in column_list if col in df.columns]
filtered_with_date_df = df[columns_to_keep]


filtered_with_date_df['Date'] = pd.to_datetime(filtered_with_date_df['Date'])
start_date = pd.to_datetime("2009-03-31")
end_date = pd.to_datetime("2012-04-02")
filtered_df = filtered_with_date_df[(filtered_with_date_df['Date'] >= start_date) & (filtered_with_date_df['Date'] <= end_date)]
filtered_df.head()


df_cleaned = filtered_df.dropna(how='all', subset=filtered_df.columns.difference(['Date']))
rows_removed = len(filtered_df) - len(df_cleaned)
# print("ROWS REMOVED i.e. ALL VALUES MISSING EXCEPT DATE:", rows_removed)
df_cleaned.head()


df_fully_cleaned = df_cleaned.dropna(axis=1)
final_columns = df_fully_cleaned.columns.tolist()
if 'Date' in final_columns:
    final_columns.remove('Date')
print(final_columns)
df_fully_cleaned.head()


df_fully_cleaned['Date'] = pd.to_datetime(df_fully_cleaned['Date'])
df_fully_cleaned.set_index('Date', inplace=True)
pct_change_df = df_fully_cleaned.pct_change() 
pct_change_df = pct_change_df.iloc[1:] 
pct_change_df.head()
# pct_change_df.to_csv("gptwork.csv",index=False)



pct_change_df = pct_change_df.reset_index()  # This moves 'Date' from index to a regular column
pct_change_df.head()
# pct_change_df.to_csv("data1.csv",index=False)





# pct_change_df.to_csv("deletenow.csv",index=False)
# nan_counts = pct_change_df.isna().sum()
# print(nan_counts)
# columns_without_nans = df.columns[df.isna().sum() == 0].tolist()
# print(columns_without_nans)

# pct_change_df.dropna

In [ ]:
# PORTFOLIO WT CALCULATION

final_df = final_merged_df[final_merged_df['Stock Code'].isin([name.upper() for name in final_columns])]
final_df.head()

final_df['PORTFOLIO_WEIGHTS'] = final_df["ZSCORE_FINAL"]/final_df["ZSCORE_FINAL"].sum()
final_df.head()

final_df = final_df[["Stock Code","PORTFOLIO_WEIGHTS"]]
final_df.head(20)
# final_df.to_csv("data2.csv",index=False)

In [ ]:
#DIRECT COPYPASTE - NO EDIT


# Align columns: ensure weights match the columns in the return dataframe
returns_df = pct_change_df.copy()
weights_df = final_df.set_index("Stock Code")["PORTFOLIO_WEIGHTS"]

# Ensure only common stocks are used
common_stocks = returns_df.columns.intersection(weights_df.index)
returns_matrix = returns_df[common_stocks].copy()
weights_vector = weights_df.loc[common_stocks]

# Perform matrix multiplication (dot product) for each date
returns_df["Portfolio Return"] = returns_matrix.dot(weights_vector)

# Show a few results
final_portfolio = returns_df[["Date", "Portfolio Return"]]
final_portfolio.info()

In [ ]:
#DIRECT COPYPASTE - NO EDIT

df2 = pd.read_csv("C:/Users/meets/AVENTUS_FACTOR-MODEL/SIMPLE STRATEGY/BENCHMARK/BSE500_PCTRETURNS_09-25.csv")
df2['BDP_Date'] = pd.to_datetime(df2['BDP_Date'])

final_portfolio_benchmark = pd.merge(final_portfolio, df2, how='inner', left_on='Date', right_on='BDP_Date')
final_portfolio_benchmark = final_portfolio_benchmark.drop('BDP_Date', axis=1)
final_portfolio_benchmark.set_index('Date', inplace=True)
final_portfolio_benchmark = final_portfolio_benchmark.rename(columns={'Portfolio Return':'Strategy'})
final_portfolio_benchmark.head()
# final_portfolio_benchmark.to_csv("s1l15b.csv")
# final_portfolio_benchmark.to_csv("final_portfolio_benchmarkQ.csv")

In [ ]:
# import quantstats as qs

# final_portfolio_benchmark.index = pd.to_datetime(final_portfolio_benchmark.index)
# qs.reports.html(final_portfolio_benchmark['Strategy'], benchmark=final_portfolio_benchmark['BDP_Close'], rf=0.045)

In [ ]:
import quantstats as qs

final_portfolio_benchmark.index = pd.to_datetime(final_portfolio_benchmark.index)

qs.reports.full(final_portfolio_benchmark['Strategy'],benchmark = final_portfolio_benchmark['BDP_Close'],mode="full")